<a href="https://colab.research.google.com/github/CamoinLancelot/MidtermsDatabaseINHA/blob/main/ITSdatabase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
from sqlalchemy import create_engine
my_conn=create_engine("sqlite:////content/ITS_Database.db")

In [93]:
conn=my_conn.connect()

In [94]:
create = my_conn.execute(''' CREATE TABLE country (
    countryid INTEGER NOT NULL,
    name      VARCHAR2(20) NOT NULL,
    PRIMARY KEY (countryid)
)''')

In [112]:
insert = my_conn.execute (''' insert into 'country' ('countryid','name') values
  ('1','South Korea'),
  ('2','France'),
  ('3','United-Kingdoms'),
  ('4','USA')
  ''')

In [95]:
create = my_conn.execute(''' CREATE TABLE city 
    (
     id INTEGER NOT NULL , 
     citycode CHAR (8) NOT NULL , 
     countryid INTEGER NOT NULL ,
     PRIMARY KEY (id),
     FOREIGN KEY ( countryid ) REFERENCES country ( countryid )
    )''')

In [96]:
create = my_conn.execute('''CREATE TABLE language 
    (
     id INTEGER NOT NULL , 
     languagename VARCHAR NOT NULL , 
     "ISO3166-1" CHAR (2) ,
     PRIMARY KEY (id)
    )''')

ERROR:sqlalchemy.pool.impl.NullPool:Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140081804199808 and this is thread id 140081381668608.
ERROR:sqlalchemy.pool.impl.NullPool:Exception closing connection <sqlite3.Connection object at 0x7f673be85650>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140081804199808 and this is thread id 140081381668608.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 255, in _close_connection
    self._dialect.do_terminate(connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 689, in do_terminate
    self.do_close(dbapi_connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 692, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140081804199808 and this is thread id 140081381668608.

In [97]:
create = my_conn.execute(''' CREATE TABLE country_language 
    (
     language_id INTEGER NOT NULL , 
     country_countryid INTEGER NOT NULL ,
     FOREIGN KEY ( country_countryid ) REFERENCES country ( countryid ),
     FOREIGN KEY ( language_id ) REFERENCES language ( id )
    )''')

In [98]:
create = my_conn.execute(''' CREATE TABLE driver 
    (
     id INTEGER NOT NULL , 
     name VARCHAR NOT NULL , 
     licensenum CHAR (18) NOT NULL , 
     clearancelvl INTEGER NOT NULL check (clearancelvl <=4 and clearancelvl >=1), 
     language_id INTEGER NOT NULL ,
     PRIMARY KEY (id),
     FOREIGN KEY ( language_id ) REFERENCES language ( id )
    )''')

In [99]:
create = my_conn.execute(''' CREATE TABLE game_official 
    (
     id INTEGER NOT NULL , 
     name VARCHAR NOT NULL , 
     role VARCHAR , 
     language_id INTEGER NOT NULL , 
     country_countryid INTEGER NOT NULL ,
     PRIMARY KEY (id),
     FOREIGN KEY ( country_countryid ) REFERENCES country ( countryid ),
     FOREIGN KEY ( language_id ) REFERENCES language ( id )
    )''')

In [100]:
create = my_conn.execute('''CREATE TABLE IF NOT EXISTS booking 
    (
     refNumber INTEGER NOT NULL , 
     start DATETIME NOT NULL , 
     "end" DATETIME NOT NULL , 
     startOdometer INTEGER , 
     endOdometer INTEGER ,
     driver_id INTEGER ,
     game_official_id INTEGER,
     PRIMARY KEY (refNumber),
     FOREIGN KEY ( driver_id ) REFERENCES driver ( id ),
     FOREIGN KEY ( game_official_id ) REFERENCES game_official ( id ) 
     ) ''')

In [101]:
create = my_conn.execute(''' CREATE TABLE fatl 
    (
     id INTEGER NOT NULL , 
     level INTEGER CHECK (level>=1 AND level<=4), 
     date DATE , 
     driver_id INTEGER NOT NULL ,
     PRIMARY KEY (id),
     FOREIGN KEY ( driver_id ) REFERENCES driver ( id )
    )''')

In [102]:
create = my_conn.execute(''' CREATE TABLE ITINERARY 
    (
     id INTEGER NOT NULL , 
     startingPoint TEXT NOT NULL , 
     droppingPoint TEXT NOT NULL , 
     booking_refNumber INTEGER NOT NULL ,
     PRIMARY KEY (id),
     FOREIGN KEY ( booking_refNumber ) REFERENCES booking ( refNumber )
    )''')

In [103]:
create = my_conn.execute(''' CREATE TABLE vehicle 
    (
     vehicleid VARCHAR NOT NULL , 
     regid VARCHAR NOT NULL , 
     manufacturer VARCHAR , 
     model VARCHAR NOT NULL , 
     color VARCHAR , 
     odometer INTEGER , 
     passengercapacity INTEGER ,
     PRIMARY KEY (vehicleid)
    )''')

In [104]:
create = my_conn.execute(''' CREATE TABLE maintenance 
    (
     maintid INTEGER NOT NULL , 
     actiontype CHAR (1) NOT NULL CHECK(actiontype = 'M' OR actiontype = 'R'), 
     odometer INTEGER NOT NULL , 
     finalcost INTEGER NOT NULL , 
     description TEXT , 
     vehicleid1 VARCHAR NOT NULL ,
     PRIMARY KEY (maintid),
     FOREIGN KEY ( vehicleid1 ) REFERENCES vehicle ( vehicleid )
    )''')

In [105]:
create = my_conn.execute(''' CREATE TABLE stltv 
    (
     id INTEGER NOT NULL , 
     level INTEGER NOT NULL CHECK (level<=5 AND level>=1), 
     certifDate DATE NOT NULL , 
     certifAuthority VARCHAR (20) NOT NULL , 
     driver_id INTEGER NOT NULL ,
     PRIMARY KEY (id),
     FOREIGN KEY ( driver_id ) REFERENCES driver ( id )
    )''')

In [106]:
insert = my_conn.execute(''' INSERT INTO 'vehicle' ('vehicleid','regid','manufacturer','model','color','odometer','passengercapacity') VALUES 
    ('V1000','2001 ABC','Volvo','XC90 SE','Silver','4350','4'),
    ('V1001','2006 AFD','Kia','K7','Black','2195','4'),
    ('V1002','2021 AHR','Tesla','2020 F','White','509','4'),
    ('V1003','2020 DXF','Ford','Transi','Silver','974','2')
''')

In [107]:
insert = my_conn.execute(''' INSERT INTO 'maintenance' ('maintid','actiontype','odometer','finalcost','description','vehicleid1') VALUES 
    ('1','M','4350','120','changing oil and cooling fluid','V1000'),
    ('2','R','2195','300','Changing tire','V1001'),
    ('3','R','509','600','Broken windshield','V1002'),
    ('4','M','974','50','Routine check','V1003')
''')

In [108]:
query = my_conn.execute('''select * from vehicle''')
for row in query:
  print(row)

('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4)
('V1001', '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4)
('V1002', '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4)
('V1003', '2020 DXF', 'Ford', 'Transi', 'Silver', 974, 2)

In [109]:
query = my_conn.execute('''select * from maintenance''')
for row in query:
  print(row)

(1, 'M', 4350, 120, 'changing oil and cooling fluid', 'V1000')
(2, 'R', 2195, 300, 'Changing tire', 'V1001')
(3, 'R', 509, 600, 'Broken windshield', 'V1002')
(4, 'M', 974, 50, 'Routine check', 'V1003')